server:
  port: 8080

spring:
  main:
    allow-bean-definition-overriding: true
  security:
    user:
      name: username
      password: password

  data:
    redis:
      # replace the value below with your full URI (as you gave)
      url: redis-url
      timeout: 3s
      lettuce:
        pool:
          max-active: 16
          max-idle: 8
          min-idle: 1

  application:
    name: distributed-lock-manager

management:
  endpoints:
    web:
      exposure:
        include: ["health", "metrics", "prometheus"]

  metrics:
    tags:
      application: distributed-lock-manager
